//Colors
@white: #FFFFFF;

// Color Assignments
@font-color: black;
@button-bg: rgba(84, 189, 250, 0.7);
@button-text: @white;
@main-bg: #C7E4B5;

@header-bg: #272833;
@nav-toggle-bg: #E44C65;
@logo-font-color: @white;

// Font Size Assignments
@small-logo-font-size: 2.8rem;
@body-font-size: 1.8rem;
@nav-menu-font-size: 1.8rem;





// Responsive Layouts
@xsmall: ~"(max-width: 480px)";
@small: ~"(max-width: 736px)";
@medium: ~"(max-width: 980px)";
@large: ~"(max-width: 1280px)";
@xlarge: ~"(max-width: 1680px)";