.header {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: @header-bg;
    justify-content: space-between;
    align-items: center;
    .side-menu-toggle {
        display: none;
        width: 2.5rem;
        height: 2rem;
        color: white;
    }
    .logo {
        color: @logo-font-color;
        a {
            text-decoration: none;
            color: @white;
            font-size: 4rem;
            font-family: 'Roboto Slab', serif;
        }
        
    }
    .nav-bar {
        display: none;
        .nav-links {
            list-style-type: none;

            .nav-link {
                text-decoration: none;
                color: @white;
                font-size: 2.2rem;
                border-bottom: 0.1rem solid transparent;
                padding-bottom: 1rem;

                &:hover {
                    border-bottom: 0.1rem solid @white;
                }
            }
        }
        
    }
    
    


}
.nav-bar {
    display: none;
}

@media @xlarge {
    .header {
        align-content: center;
        
        .nav-bar {
            display: block;
            width: 30%;
            .nav-links {
                display: flex;
                justify-content: space-around;
                
            }

        }
    }
}
@media @small {
    .header {
        position: relative;
        .side-menu-toggle {
            display: block;
        }
        .logo {
            h1 {
                font-size: @small-logo-font-size;
            }
            
        }
        .nav-bar {
            display: none;
        }
               
    }
      
}
